/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Переменные тёмной темы */
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-font: #FF0070;
  --text-font: #000028;
  --title-shadow: #FF0070;
  --border-hover: rgba(255, 0, 112, 0.40);
  --main-font: 'IBM Plex mono', monospace;
  --bg-img: url(../images/cover-image-dark.png);
}
